<section class="hero is-primary is-fullheight">

    {{!-- Header --}}
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home">
                        <img src="images/image.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class='navbar-link' href="/home">
                                Dashboard
                            </a>

                            <div class='navbar-dropdown'>
                                <a class='navbar-item'>
                                    Reports
                                </a>
                                <a class='navbar-item'>
                                    History
                                </a>
                                <a class='navbar-item'>
                                    Plan
                                </a>
                            </div>
                        </div>
                        <a class="navbar-item">
                            Friends
                        </a>
                        <a class="navbar-item">
                            Challenge
                        </a>
                        <a class="navbar-item" id="newActivity" href="/post-activity">
                            Post New Activity
                        </a>
                    </div>
                    <div class="navbar-end">
                        <span class="navbar-item" id="signOut">
                            <p id="loggedInUser">Logged in as </p>
                            <a id="signOutBtn" class="button is-primary is-inverted" href="#" onclick="signOut();">
                                <span>Sign Out</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    {{!-- Body --}}
    <div class="hero-body">

        <div class="columns">
            <div class="column is-one-third">
                <div id="wrapper">

                    <div id="map"></div>

                    <div id="mapControl">
                        <div id="distanceDiv">
                            DISTANCE
                            <div id="distance">0.0 mi.</div>
                        </div>
                        <div id="buttonDiv">
                            <button id="saveRoute">Save Route</button><br>
                            {{!-- <button id="loadRoute">Load Route</button><br> --}}
                            <button id="undoLast">Undo Last</button><br>
                            <button id="loopRoute">Loop Route</button><br>
                            <button id="clearRoute">Clear Route</button><br>
                            <button id="loadRoute">Load Route</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="tile is-ancestor">
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-warning">
                            <div id="runningForm">
                                <form action="/api/runs" method="POST">
                                    <div class="field">
                                        <label class="label has-text-white">Date</label>
                                        <div class="control has-icons-left">
                                            <input class="input is-primary" type="date" name="date" id="dateForm"
                                                placeholder="MM/DD/YYYY">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-white">Distance (Miles)</label>
                                        <div class="control has-icons-left">
                                            <input class="input is-primary" type="text" name="distance"
                                                id="distanceForm" placeholder="0.0">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-road"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field" style="display:inline-block; width:32%;">
                                        <label class="label has-text-white">Duration</label>
                                        <div class="control has-icons-left">
                                            <input class="input is-primary is-small" type="text" name="duration"
                                                id="hours" placeholder="hh">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-stopwatch"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field" style="display:inline-block; width:32%;">
                                        <div class="control has-icons-left">
                                            <input class="input is-primary is-small" type="text" name="duration"
                                                id="minutes" placeholder="mm">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-stopwatch"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field" style="display:inline-block; width:32%;">
                                        <div class="control has-icons-left">
                                            <input class="input is-primary is-small" type="text" name="duration"
                                                id="seconds" placeholder="ss">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-stopwatch"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-white">Location</label>
                                        <div class="control has-icons-left">
                                            <input class="input is-primary" type="text" name="location"
                                                id="locationForm" placeholder="Neighborhood">
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label has-text-white">Primary Surface</label>
                                        <div class="control">
                                            <select id="surfaceForm" name="surface">
                                                <option value="" selected></option>
                                                <option value="street">Street</option>
                                                <option value="bike path">Bike Path</option>
                                                <option value="trail">Trail</option>
                                                <option value="track">Track</option>
                                                <option value="dirt road">Dirt Road</option>
                                                <option value="grass">Grass</option>
                                                <option value="beach">Beach</option>
                                                <option value="treadmill">Treadmill</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <button class="button is-primary" id="login" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column is-one-third">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child box">
                            <p id="top5Runs">Top 5 Runs:</p>
                            <ul id="run-list" class="list-group">
                                {{#each runs}}
                                {{!-- <span> --}}
                                <li data-id="{{this.id}}" class="list-group-item">
                                    <a>{{this.date}}</a>
                                    <a>{{this.distance}}</a>
                                    <a>{{this.duration}}</a>
                                    <button class="btn btn-danger float-right delete">ｘ</button>
                                </li>
                                {{!-- </span> --}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="tile is-child box">
                            <p id="top5Routes">Top 5 Routes:</p>
                            <ul id="route-list" class="list-group">
                                {{#each routes}}
                                {{!-- <span> --}}
                                <li data-id="{{this.id}}" class="list-group-item">
                                    <a>{{this.date}}</a>
                                    <a>{{this.distance}}</a>
                                    <button class="btn btn-danger float-right delete">ｘ</button>
                                </li>
                                {{!-- </span> --}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


    {{!-- Footer --}}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>FAQ</a></li>
                    <li><a>Contact Us</a></li>
                    <li><a>About</a></li>
                    <li><a>Terms of Service</a></li>
                </ul>
            </div>
        </nav>
    </div>

</section>

{{!-- Log In Modal --}}

<div class="modal">
    <div class="modal-background modalClose"></div>
    <div class="modal-content ">
        <!-- Any other Bulma elements you want -->
        <form class="box">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input is-primary" type="text" placeholder="Username" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="••••••••" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
        </form>
    </div>

    <button class="modal-close is-large modalClose" aria-label="close"></button>

</div>

{{!-- Javascript, Jquery --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post-activity.js"></script>
<script src="/js/gmaps.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66kReNVkNXq1PYpmqbsmNUfrGWVx0pVg&libraries=drawing&callback=initMap"
    async defer></script>